{% extends "layouts/auth_base.html" %}
{% block content %}
<form action="/api/user/activate" method="post" data-api-form>
  <div class="field"><label>Email</label><input name="email" type="email" required /></div>
  <div class="field"><label>Activation Code</label><input name="otp" maxlength="6" required /></div>
  <div class="field"><label>Create Password</label><input name="password" type="password" required /></div>
  <div class="field"><label>Create PIN</label><input name="pin" type="password" /></div>
  <button type="submit">Complete Setup</button>
  <pre class="muted" data-form-result></pre>
</form>
{% endblock %}
