:root {
  --color-primary: #244d3b;
  --color-primary-light: #26866f;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-gray-light: #f1f1f1;
  --color-gray-medium: #d4d4d4;
  --color-gray-dark: #5c5c5c;

  --color-border: #e4e4e4;

  --color-success-bg: #d4edda;
  --color-success-border: #28a745;

  --color-info-bg: #d1ecf1;
  --color-info-border: #17a2b8;

  --color-danger-bg: #f8d7da;
  --color-danger-border: #dc3545;

  --color-overlay-dark: rgba(0, 0, 0, 0.6);
  --color-overlay-light: rgba(0, 0, 0, 0.4);
}

/* Main OTP container */
/* .code-input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  width: 100%;
  max-width: 400px;
  position: relative;
}

.hidden-text-input {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
}

.code-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.code-input {
  border: 1px solid var(--color-border);
}

/* Text inside each box */
.code-input-text {
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: var(--color-black);
  text-align: center;
  user-select: none;
}
.code-input,
.code-input-focused {
  flex: 1;
  width: 40px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
}
/* Focused box */
.code-input-focused {
  border: 2px solid var(--color-primary-light);
}

/* Prevent scroll jump when focusing hidden input */
input:focus {
  scroll-behavior: auto;
}
*/ .primary-btn {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.primary-btn:hover:active {
  background-color: var(--color-primary-light);
  color: var(--color-white);
}
