{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="{% static 'favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AirMS</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <script type="module" crossorigin src="{% static 'assets/index-C5MfPrzW.js' %}"></script>
    <link rel="modulepreload" crossorigin href="{% static 'assets/rolldown-runtime-B1FJdls4.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'assets/export-libs-CBLqkKqs.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'assets/vendor-CAL3Byk0.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'assets/defineProperty-BFapLe5I.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'assets/button-DTqBPI_y.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'assets/API_BASE-uATsgOgE.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'assets/es-4Ura7M16.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'assets/card-C9jiiY8U.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'assets/collapse-D7yZen3p.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'assets/spin-BZdr2PW3.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'assets/context-DP4eLmQe.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'assets/typography-CfZ8nBdT.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'assets/InboxOutlined-CHRw2KF-.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'assets/realtimeSocket-1ap3kWGe.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'assets/UserOutlined-c8d_d1sm.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'assets/empty-BEwzpNL_.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'assets/extendsObject-DR4F7mhL.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'assets/useClosable-C4iZaH5H.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'assets/tag-C12Daq30.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'assets/useModal-DnTguaf4.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'assets/app-D5Tzew2Q.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'assets/popover-CfYs28Zi.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'assets/avatar-BSy3P_yx.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'assets/message-yUkGP-kP.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'assets/modal-BynlSIj1.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'assets/AirMS_web-CVRlu4kY.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'assets/AuthContext-KNrsEQ27.js' %}">
    <link rel="stylesheet" crossorigin href="{% static 'assets/index-BIFyjLje.css' %}">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>